{% load static %}

{% load static %}

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4" href="#">
            <a href="#">
                <img src="{% static "img/question_default_img.jpg" %}" class="img-fluid rounded-start avatar_on_comment_card" alt="...">
            </a>
            <a class="link-success login_value" href="#">{{ answer.author.user.username }}</a>
        </div>
        <div class="col-md-8">
            <div class="card-body question_texts">
                <p class="card-text comment_text">{{ answer.text }}</p>
            </div>
            <div class="likes">
                <p class="count_likes">+{{ answer.get_count_likes }}</p>
                <button class="like_btn" id="like_btn"><img src="{% static "img/like_smile.png" %}" alt=""></button>
                <button class="like_btn"><img src="{% static "img/dislike_smile.png" %}" alt=""></button>
                <p class="count_dislikes">-{{ answer.get_count_dislikes }}</p>
            </div>
            <p class="text-muted comment_date_posting">{{ answer.date_publish }}</p>
        </div>
    </div>
</div>