.content {
    max-width: 1200px;
    margin: 0 auto;
}

.registration_form {
    margin-top: 40px;
    width: inherit;
    height: inherit;
}

.mb-3 {
    float: left;
    width: 100%;
}

.form-label {
    float:left;
    font-size: 1.25rem;
    font-weight: 400;
}

.form-control {
    float: right;
    width: 1000px;
}

.invalid-feedback {
    display: block !important;
    clear:both;
    text-align: right;
}