{% extends "questions_page.html" %}
{% block best_all %}
    <div class="best_tags">
        <h1>Лучшие теги</h1>
        <div class="tag_block">
            {% for tag in best_tags %}
                <a href="{{ tag.get_absolute_url }}" class="best_link_style">{{ tag.title }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="best_users">
        <h1>Лучшие пользователи</h1>
        <div class="best_users_block">
            {% for user in best_users %}
                <a href="" class="best_link_style">{{ user.user.username }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock best_all %}