{% extends "base.html" %}

{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static "css/question_card_style.css" %}">
    <link rel="stylesheet" href="{% static "css/index_style.css" %}">
{% endblock link %}

{% block content %}
    <h1 class="questions_title">
        {% block  title %}
        {% endblock title %}
    </h1>
    <div class="questions">
        {% for question in page_obj %}
            {% include "incl/question_card.html" %}
        {% endfor %}
    </div>
    {% block best_all %}
    {% endblock best_all %}

    {% include "incl/pagination_nav.html" %}

{% endblock content %}